:root {
    --cor:#808080;
    --corletra: #F5F5F5;}

html {
    background-color:var(--cor);
    font-family: Arial, Helvetica, sans-serif;
    color:var(--corletra)

}

#texto{
    color: red;
}



.tulipa{
    display: flex;
    background-color: var(--corletra);
    color: var(--cor);
}

.Contagem{
    background-color: antiquewhite;
    padding: 20px 0;
    text-align: center;
}

.Objetivos{
    padding: 20px;
    font-size: 18px;
}

.ativo{
    background-color: rgb(221, 218, 33);
    color: rgb(26, 39, 219);
}


.aba-conteudo{
display: none;
color: black;
}

.ativa{
    display: block;
font-size: 20px;
}