:root {
    --cor:#808080;
    --corletra: #F5F5F5;}

html {
    background-color:var(--cor);
    font-family: Arial, Helvetica, sans-serif;
    color:var(--corletra)

}

#texto{
    color: red;
}



.tulipa{
    display: flex;
    background-color: var(--corletra);
    color: var(--cor);
}
